@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>You have been tasked with writing the world’s greatest banking ledger. Please code a solution that can perform the following workflows through a console application (accessed via the command line):</p>
<ul>
    <li>Create a new account</li>
    <li>Login</li>
    <li>Record a deposit</li>
    <li>Record a withdrawal</li>
    <li>Check balance</li>
    <li>See transaction history</li>
    <li>Log out</li>
</ul>
<p>For additional credit, you may implement this through a web page. They don’t have to run at the same time, but if you would like to do that, feel free.</p>
<p>C# is preferred but not required. Use whatever frameworks/libraries you wish, and just make sure they are included or available via via NuGet/npm/etc. Please use a temporary memory store (local cache) instead of creating an actual database, and don't spend much time on the UI (unless you love doing that).</p>


